@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRectangle1 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes slideRectangle2 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideRectangle3 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideRectangle4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}